body {
  font-family: verdana;
  background-color: lavender;
}
#content {
  display: flex;
}

#content > * {
  flex: 1;
}
button,
select,
input {
  font-size: 1rem;
  padding: 0.25rem;
}

ul {
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin: 1rem;
  padding: 1rem;
}

li li {
  border-width: 0;
}

li > * {
  margin: 1rem 0;
}

#student-form {
  display: flex;
  flex-direction: column;
}

#student-form > * {
  margin-bottom: 1rem;
}

#error {
  color: red;
}

.promote {
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium';
  color: darkgreen;
}

.demote {
  font-weight: lighter;
  font-family: 'Comic Sans MS';
  color:crimson;
}

.delete {
  float: right;
  background-color: white;
  border-color: blue;
  border-style: dashed;
  color: red;
  font-weight: bolder;
}

.name {
  font-weight: bolder;
}

.teacher {
  background-color: beige;
}

.mentee {
  background-color: aquamarine;
}

.unassigned {
  background-color: lightgray;
}